In [9]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import psycopg2 # needed to get database exception errors when uploading dataframe
import requests # package for getting data from the web
from zipfile import * # package for unzipping zip files

In [10]:
# Import the get_engine function from our sql_functions.
from sql_functions import get_engine #adjust this as necessary to match your sql_functions.py connection methods

In [11]:
# add /data to gitignore, .emv
#!echo /data >> .gitignore
!echo .emv >> .gitignore

In [35]:
df_lager.head(5)

,Lfnr,Artnr,Index,Beschr.,BKZ,VPE,St.gr.,Ltz. VK ges.,Basispreis,Basispr. Summe,Gesamt,WEN,Ltz. VK WEN,RGB,Ltz. VK RGB,AMB,Ltz. VK AMB,CHA,Ltz. VK CHA,STR,Ltz. VK STR,PAS,Ltz. VK PAS,LAN,Ltz. VK LAN,MÜH,Ltz. VK MÜH,ROS,Ltz. VK ROS
0,Summe,Summe,Summe,Summe,Summe,Summe,Summe,03.06.2023,"22.137.471,28","9.973.936,32",1.084.309,763.512,03.06.2023,61.066,02.06.2023,31.034,02.06.2023,24.471,02.06.2023,55.651,02.06.2023,39.311,02.06.2023,31.628,02.06.2023,37.164,02.06.2023,40.366,02.06.2023
1,430,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1,L20,07.11.2018,"75,36","0,00",0,0.000,-,0.000,07.11.2018,0.000,08.08.2017,0.000,29.04.2016,0.000,14.12.2017,0.000,-,0.000,31.08.2017,0.000,-,0.000,26.03.2014
2,430,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1,L20,04.08.2021,"93,63","0,00",0,0.000,04.08.2021,0.000,10.07.2017,0.000,26.04.2021,0.000,28.04.2021,0.000,13.09.2018,0.000,31.07.2019,0.000,24.06.2016,0.000,-,0.000,04.05.2015
3,430,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1,L20,14.07.2021,"76,95","0,00",0,0.000,14.07.2021,0.000,-,0.000,26.04.2021,0.000,-,0.000,29.09.2020,0.000,31.07.2019,0.000,07.11.2018,0.000,-,0.000,-
4,430,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1,L20,14.12.2017,"80,07","0,00",0,0.000,24.09.2013,0.000,-,0.000,15.05.2015,0.000,29.04.2016,0.000,14.12.2017,0.000,-,0.000,-,0.000,-,0.000,19.10.2015

In [33]:
df_lager.tail(15)

,Lfnr,Artnr,Index,Beschr.,BKZ,VPE,St.gr.,Ltz. VK ges.,Basispreis,Basispr. Summe,Gesamt,WEN,Ltz. VK WEN,RGB,Ltz. VK RGB,AMB,Ltz. VK AMB,CHA,Ltz. VK CHA,STR,Ltz. VK STR,PAS,Ltz. VK PAS,LAN,Ltz. VK LAN,MÜH,Ltz. VK MÜH,ROS,Ltz. VK ROS
357815,17,403E35,0,ZÜNDLEITUNG,0,5,L64,01.01.2004,"10,89","32,67",3.0,3.0,01.01.2004,0.0,01.04.2003,0.0,-,0.0,-,0.0,01.04.2002,0.0,-,0.0,-,0.0,-,0.0,-
357816,0,0986479E32,0,BREMSSCHEIBE,X,0,00RBABA,19.04.2023,"46,87","1.406,10",30.0,22.0,17.04.2023,0.0,-,0.0,-,0.0,-,4.0,19.04.2023,2.0,21.12.2022,0.0,-,0.0,-,2.0,-
357817,0,0986479E35,0,BREMSSCHEIBE,N,0,00RBABA,28.04.2023,"41,92","503,04",12.0,6.0,04.11.2022,2.0,06.07.2022,0.0,31.01.2022,2.0,25.05.2022,2.0,28.04.2023,0.0,-,0.0,-,0.0,-,0.0,-
357818,0,0986479E39,0,BREMSSCHEIBE,N,0,00RBABA,31.05.2023,"108,16","216,32",2.0,0.0,31.05.2023,0.0,-,0.0,-,0.0,-,2.0,-,0.0,-,0.0,-,0.0,-,0.0,-
357819,0,0986479E42,0,BREMSSCHEIBE,0,0,00RBABA,31.05.2023,"41,92","2.096,00",50.0,28.0,04.05.2023,2.0,17.05.2023,2.0,31.05.2023,8.0,13.04.2023,2.0,28.04.2023,2.0,29.07.2022,2.0,22.02.2023,2.0,27.12.2022,2.0,26.04.2023
357820,0,0986479E45,0,BREMSSCHEIBE,0,0,00RBABA,17.05.2023,"34,24","342,40",10.0,2.0,17.05.2023,0.0,-,0.0,10.08.2022,4.0,05.12.2022,0.0,24.08.2022,2.0,28.02.2023,2.0,14.12.2022,0.0,-,0.0,10.03.2020
357821,0,0986479E46,0,BREMSSCHEIBE,N,0,00RBABA,31.05.2023,"37,44","898,56",24.0,12.0,08.05.2023,0.0,31.05.2023,2.0,03.05.2023,0.0,-,2.0,23.08.2022,0.0,06.12.2022,2.0,-,2.0,08.12.2021,4.0,08.02.2023
357822,17,403E52,0,ZÜNDLEITUNG,0,5,L64,05.01.2010,"11,22","11,22",1.0,1.0,05.01.2010,0.0,01.04.2003,0.0,26.04.2005,0.0,-,0.0,23.05.2009,0.0,-,0.0,-,0.0,-,0.0,-
357823,0,0986479E52,0,BREMSSCHEIBE,0,0,00RBABA,31.05.2023,"43,84","526,08",12.0,2.0,08.03.2023,2.0,19.04.2023,0.0,24.05.2023,0.0,-,0.0,31.05.2023,0.0,21.12.2022,0.0,-,2.0,11.05.2022,2.0,12.05.2023
357824,0,0986479E78,0,BREMSSCHEIBE 1 STK!!,DE,0,00RBABC,15.05.2023,"99,17","793,36",8.0,2.0,16.11.2022,0.0,-,0.0,-,0.0,-,2.0,15.05.2023,2.0,16.11.2022,0.0,-,2.0,17.11.2022,0.0,-
357825,0,0986479E79,0,BREMSSCHEIBE,VO,0,00RBABC,12.05.2023,"78,93","1.341,81",17.0,3.0,15.03.2023,2.0,05.01.2022,0.0,-,0.0,12.05.2023,8.0,22.03.2023,4.0,02.06.2022,0.0,-,0.0,-,0.0,-
357826,17,816E85,0,ZÜNDLEITUNG,0,5,L64,09.06.2010,"5,82","0,00",0.0,0.0,09.06.2010,0.0,01.04.2003,0.0,-,0.0,-,0.0,01.08.2006,0.0,-,0.0,30.11.2006,0.0,-,0.0,-
357827,0,0986479E87,0,BREMSSCHEIBE,0,0,00RBABA,04.05.2022,"37,76","0,00",0.0,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,04.05.2022
357828,0,0986479E91,0,BREMSSCHEIBE,0,0,00RBABA,19.04.2023,"26,46","105,84",4.0,2.0,-,0.0,-,2.0,19.04.2023,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-,0.0,-
357829,17,816E95,0,ZÜNDLEITUNG,0,5,L64,09.01.2009,"6,01","0,00",0.0,0.0,18.04.2007,0.0,09.01.2009,0.0,20.11.2007,0.0,-,0.0,01.04.2002,0.0,-,0.0,30.11.2006,0.0,-,0.0,-

In [34]:
# display all columns of dataframe (without having to look them up in separate text editor)
pd.options.display.max_columns = 29

In [15]:
df_lager.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357830 entries, 0 to 357829
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Lfnr            357830 non-null  object
 1   Artnr           357830 non-null  object
 2   Index           357830 non-null  object
 3   Beschr.         357830 non-null  object
 4   BKZ             357830 non-null  object
 5   VPE             357830 non-null  object
 6   St.gr.          357830 non-null  object
 7   Ltz. VK ges.    357830 non-null  object
 8   Basispreis      357830 non-null  object
 9   Basispr. Summe  357830 non-null  object
 10  Gesamt          357830 non-null  object
 11  WEN             357830 non-null  float64
 12  Ltz. VK WEN     357830 non-null  object
 13  RGB             357830 non-null  float64
 14  Ltz. VK RGB     357830 non-null  object
 15  AMB             357830 non-null  float64
 16  Ltz. VK AMB     357830 non-null  object
 17  CHA             357830 non-null  float64
 18  Ltz. VK CHA     357830 non-null  object
 19  STR             357830 non-null  float64
 20  Ltz. VK STR     357830 non-null  object
 21  PAS             357830 non-null  float64
 22  Ltz. VK PAS     357830 non-null  object
 23  LAN             357830 non-null  float64
 24  Ltz. VK LAN     357830 non-null  object
 25  MÜH             357830 non-null  float64
 26  Ltz. VK MÜH     357830 non-null  object
 27  ROS             357830 non-null  float64
 28  Ltz. VK ROS     357830 non-null  object
dtypes: float64(9), object(20)
memory usage: 79.2+ MB

In [16]:
df_lager.describe()

,WEN,RGB,AMB,CHA,STR,PAS,LAN,MÜH,ROS
count,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000,357830.000000
mean,1.602232,0.169459,0.093541,0.068520,0.155905,0.113208,0.085663,0.104041,0.121416
std,17.446878,4.223074,2.732699,1.636756,3.775675,3.138968,2.248246,3.948290,3.925887
min,-862.000000,-855.000000,-366.000000,-50.000000,-859.000000,-514.000000,-22.000000,-965.000000,-435.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,999.000000,780.000000,632.000000,288.000000,775.000000,602.000000,587.000000,756.000000,638.000000

In [17]:
df_lager.Gesamt.unique()

array(['1.084.309', '0', '1', '2', '3', '4', '12', '54', '7', '6', '10',
       '21', '14', '8', '11', '5', '9', '-1', '44', '16', '35', '22',
       '19', '77', '36', '129', '20', '210', '15', '25', '34', '76', '27',
       '17', '180', '-3', '86', '47', '37', '13', '18', '23', '42', '-2',
       '29', '45', '150', '28', '30', '48', '31', '32', '39', '38', '43',
       '40', '114', '78', '88', '67', '79', '92', '64', '301', '274',
       '-6', '24', '-29', '41', '26', '33', '59', '109', '58', '72', '71',
       '259', '94', '300', '100', '50', '57', '137', '250', '56', '99',
       '81', '170', '145', '53', '66', '-58', '62', '158', '143', '1.160',
       '146', '90', '105', '49', '160', '363', '174', '316', '80', '85',
       '51', '96', '101', '84', '140', '330', '46', '122', '61', '70',
       '204', '443', '318', '87', '-8', '-4', '168', 2.0, 0.0, 1.0, 4.0,
       8.0, 3.0, 5.0, 11.0, 37.0, 20.0, 9.0, 10.0, 23.0, 17.0, 6.0, 100.0,
       98.0, 7.0, 42.0, 58.0, 19.0, 27.0, 12.0, 34.0, 41.0, 55.0, 21.0,
       22.0, 48.0, 49.0, 13.0, 16.0, 15.0, 117.0, 24.0, 99.0, 18.0, 36.0,
       170.0, 28.0, 56.0, 26.0, -1.0, 25.0, 30.0, 44.0, 14.0, 80.0, -3.0,
       29.0, 47.0, 71.0, 33.0, 423.0, -2.0, 46.0, 84.0, 35.0, 57.0, 54.0,
       62.0, 53.0, 39.0, 90.0, 78.0, 126.0, 32.0, 194.0, 108.0, 494.0,
       64.0, 110.0, 230.0, 585.0, 38.0, 391.0, 144.0, 31.0, 222.0, 88.0,
       235.0, 133.0, 322.0, 7.402, 60.0, 1.023, 191.0, 299.0, 952.0,
       135.0, 156.0, 140.0, 75.0, 72.0, 51.0, 963.0, 79.0, 69.0, 82.0,
       119.0, 52.0, 61.0, 91.0, 127.0, 704.0, 87.0, 180.0, 73.0, 89.0,
       164.0, 131.0, 65.0, 161.0, 116.0, 40.0, 863.0, 63.0, 323.0, 207.0,
       152.0, 197.0, 67.0, 312.0, 1.313, 1.174, 95.0, 149.0, 1.195, 1.314,
       50.0, 59.0, 120.0, 248.0, 97.0, 435.0, 920.0, 1.137, 260.0, 770.0,
       4.479, 200.0, 166.0, 434.0, 327.0, 996.0, 45.0, 121.0, 185.0,
       369.0, 199.0, 124.0, 114.0, 43.0, 105.0, 103.0, 92.0, 356.0,
       -186.0, -134.0, 343.0, 142.0, 771.0, 74.0, 115.0, 270.0, 277.0,
       353.0, 172.0, 174.0, 186.0, 70.0, 77.0, 212.0, 606.0, 600.0, 626.0,
       234.0, 950.0, 143.0, 173.0, 76.0, 68.0, 151.0, 122.0, 66.0, 364.0,
       366.0, 220.0, 96.0, 81.0, 572.0, 233.0, 107.0, 102.0, 104.0, 533.0,
       136.0, 201.0, 167.0, 147.0, 111.0, 406.0, 306.0, 510.0, 198.0,
       85.0, 148.0, 159.0, 137.0, 153.0, -20.0, 125.0, 271.0, 556.0,
       171.0, 2.883, 101.0, -46.0, -5.0, 578.0, -4.0, 278.0, -14.0, 355.0,
       300.0, 775.0, 495.0, 256.0, 232.0, -107.0, -8.399, -73.0, -126.0,
       -453.0, -6.0, 155.0, 189.0, 729.0, 217.0, 336.0, 261.0, 94.0,
       826.0, 244.0, 450.0, 210.0, 255.0, 250.0, 157.0, -9.0, 296.0,
       169.0, 202.0, 252.0, 367.0, 205.0, 310.0, 400.0, 1.356, 1.3, 892.0,
       545.0, 800.0, 216.0, 549.0, 15.835, 693.0, 106.0, 631.0, -419.0,
       405.0, 187.0, 93.0, 285.0, 150.0, 130.0, 192.0, 138.0, 442.0,
       -10.0, -500.0, 113.0, 109.0, 112.0, 231.0, 319.0, 266.0, 251.0,
       3.958, 301.0, 348.0, 345.0, 128.0, 983.0, 236.0, 1.13, 425.0,
       190.0, 362.0, 1.236, 1.185, 123.0, 586.0, 619.0, 2.615, 297.0,
       282.0, 483.0, 259.0, 1.871, 672.0, 145.0, 245.0, 314.0, 2.017,
       858.0, 654.0, 437.0, 698.0, 404.0, 292.0, 83.0, -12.0, -254.0,
       249.0, 238.0, 4.869, 129.0, 844.0, 1.165, 1.077, 321.0, 86.0,
       218.0, 1.317, 203.0, 305.0, 378.0, -18.0, -19.0, 283.0, -7.0,
       219.0, 294.0, 757.0, 679.0, 716.0, 438.0, 196.0, 581.0, 363.0,
       580.0, 154.0, 227.0, 1.375, 344.0, 317.0, 160.0, 298.0, 139.0,
       1.076, 1.978, 178.0, 352.0, 569.0, 670.0, -555.0, 334.0, -43.0,
       -13.0, -249.0, -811.0, -461.0, -219.0, -22.0, -52.0, -15.0, -11.0,
       -92.0, -283.0, -1.899, -221.0, -103.0, -406.0, -1.752, -25.0,
       -39.0, 263.0, 204.0, 1.224, -66.0, 421.0, 289.0, -5.194, -231.0,
       623.0, -1.194, -3.596, 213.0, 809.0, -33.0, -123.0, -2.941, -1.564,
       6.892, -623.0, -8.161, -2.484, -2.121, 894.0, -26.0, -200.0, 183.0,
       505.0, 913.0, 1.053, 273.0, 814.0, 904.0, 2.391, 162.0, 195.0,
       550.0, 743.0, 141.0, 163.0, 193.0, 330.0, 325.0, 221.0, 3.244,
       188.0, 214.0, 146.0, 834.0, 685.0, 206, 456, 338, 264, 402, 168,
       257, 662, 165.0, 132.0, 226.0, 739.0, 382.0, 392.0, 349.0, 820.0,
       293.0, 468.0, 175.0, -40.0, 224.0, 531.0, 420.0, 632.0, 745.0,
       914.0, 2.56, 4.211, 604.0, 1.556, 515.0, 1.79, 1.29, -8.0, 448.0,
       272.0, 432.0, 176.0, 1.197, 433.0, -23.0, 465.0, 1.985, 242.0,
       2.94, 2.825, 1.498, 208.0, 279.0, 275.0, 1.139, -44.0, 1.065,
       711.0, 1.159, 288.0, 414.0, 598.0, 499.0, 182.0, 410.0, 751.0,
       354.0, 860.0, 1.704, 387.0, 335.0, 1.448, 134.0, 287.0, 422.0,
       237.0, 1.228, 472.0, 3.19, 486.0, 409.0, 247.0, 268.0, 313.0,
       470.0, 281.0, 517.0, 177.0, 381.0, 347.0, 1.531, 2.762, 475.0,
       1.234, 4.02, 1.592, 3.452, 1.116, 1.183, 5.408, 822.0, 1.266,
       719.0, 308.0, 209.0, 3.045, 3.554, 365.0, 902.0, 1.423, 636.0,
       847.0, 873.0, 1.787, 796.0, 851.0, 1.247, 1.249, 1.162, 1.399,
       979.0, 1.265, 634.0, 616.0, 520.0, 384.0, 385.0, 649.0, -87.0,
       1.663, 318.0, 1.227, 471.0, 870.0, 1.034, -300.0, 276.0, 430.0,
       379.0, 6.62, 211.0, 215.0, 916.0, 417.0, 394.0, 303.0, 445.0,
       228.0, 290.0, 528.0, 908.0, 642.0, 664.0, 419.0, 1.709, 682.0,
       246.0, 479.0, 615.0, 4.204, 2.692, 2.279, -160.0, 223.0, 677.0,
       1.134, 377.0, 415.0, 179.0, 291.0, 267.0, 1.932, 2.727, 118.0,
       1.744, 2.725, 6.009, 1.84, 4.379, 4.368, 740.0, 903.0, 853.0,
       444.0, 359.0, 436.0, 399.0, 241.0, 243.0, 524.0, 262.0, 2.398,
       158.0, 451.0, 1.678, 617.0, 428.0, 3.553, 280.0, 332.0, 1.848,
       458.0, 466.0, 1.02, 525.0, 331.0, 487.0, 561.0, 512.0, 429.0,
       2.855, 302.0, 181.0, 374.0, 320.0, 360.0, -30.0, 254.0, 480.0,
       514.0, 490.0, 350.0, 532.0, 489.0, 380.0, 443.0, 311.0, 1.605,
       1.686, 2.427, 358.0, 2.057, 3.4, -100.0, 900.0, 629.0, 1.568,
       1.384, 871.0, 5.838, 1.369, 1.103, 878.0, 2.08, 253.0, 326.0,
       3.035, 3.952, 2.1, 424.0, 504.0, 686.0, 1.358, 624.0, 1.194, 1.346,
       1.539, 1.415, 1.191, 782.0, 1.436, 1.002, 1.052, 1.101, 5.61,
       1.626, 511.0, 880.0, 696.0, 1.417, 558.0, 1.193, 1.58, 774.0,
       733.0, 840.0, 482.0, 1.215, 1.146, 1.045, 460.0, 395.0, 240.0,
       440.0], dtype=object)

In [18]:
# import Verkäufe as df
df_verkäufe = pd.read_csv('data/Abverkauf_DE_2022_8410.csv')

/var/folders/t0/zqmt1nyn40dfdl2rmlwszfhm0000gn/T/ipykernel_60038/1785216289.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_verkäufe = pd.read_csv('data/Abverkauf_DE_2022_8410.csv')

In [19]:
# investigate on Verkäufe dataframe
df_verkäufe.head()

,Lfr.,Art.nr.,Ind.,Beschreibung,Gesamt,WEN,RGB,STR,PAS,AMB,CHA,LAN,MÜH,ROS
0,NaN,NaN,NaN,NaN,1.735.669,1.031.753,91.482,140.461,88.082,94.059,40.096,91.864,83.465,74.405
1,0.0,1928498680,0.0,BUCHSENKONTAKT,38.400,38.400,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,52.0,50266496,0.0,"KABELBAND 300X4,8MM SCHWARZ",28.200,25.000,0.000,0.000,0.000,0.000,1.400,0.000,1.500,300.000
3,0.0,1928405459,0.0,BLINDKONTAKT,24.000,24.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,52.0,50266493,0.0,"KABELBAND 390X4,8MM SCHWARZ",27.722,22.900,0.000,0.000,0.000,210.000,702.000,1.000,1.600,1.310

In [20]:
df_verkäufe.tail()

,Lfr.,Art.nr.,Ind.,Beschreibung,Gesamt,WEN,RGB,STR,PAS,AMB,CHA,LAN,MÜH,ROS
66005,0.0,3397001269,0.0,--Bosch WBA Twin KSN 269,-26,-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66006,0.0,3397001418,0.0,--Bosch WBA Twin KSN 298S,-34,-35,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
66007,0.0,3397012474,0.0,--Bosch WBA Twin KSN 474,-38,-38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66008,52.0,50251023,0.0,"QUETSCHKABELSCHUH 1,0-2,5 QMM",0,-50,0.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0
66009,0.0,1987301073,0.0,GLÜHLAMPE PLUS90 H1 12V 55W,-81,-83,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df_verkäufe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66010 entries, 0 to 66009
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Lfr.          66009 non-null  float64
 1   Art.nr.       66009 non-null  object
 2   Ind.          66009 non-null  float64
 3   Beschreibung  66009 non-null  object
 4   Gesamt        66010 non-null  object
 5   WEN           66010 non-null  object
 6   RGB           66010 non-null  float64
 7   STR           66010 non-null  float64
 8   PAS           66010 non-null  float64
 9   AMB           66010 non-null  float64
 10  CHA           66010 non-null  float64
 11  LAN           66010 non-null  float64
 12  MÜH           66010 non-null  float64
 13  ROS           66010 non-null  float64
dtypes: float64(10), object(4)
memory usage: 7.1+ MB

In [22]:
df_verkäufe.describe()

,Lfr.,Ind.,RGB,STR,PAS,AMB,CHA,LAN,MÜH,ROS
count,66009.000000,66009.000000,66010.000000,66010.000000,66010.000000,66010.000000,66010.000000,66010.000000,66010.000000,66010.000000
mean,167.488358,2.233332,1.352885,1.875041,1.221765,1.371486,0.572194,1.058295,1.085584,1.057509
std,155.964392,14.000538,13.662212,16.641228,12.746170,12.841282,6.878954,12.356827,14.080799,10.131996
min,0.000000,0.000000,-99.000000,-44.000000,-10.000000,-197.000000,-6.000000,-20.000000,-200.000000,-16.000000
25%,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,134.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,205.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,800.000000,90.000000,946.000000,971.000000,970.000000,900.000000,702.000000,918.000000,990.000000,753.000000

In [24]:
# import Lieferantenübersicht as df
df_lieferanten = pd.read_excel('data/Lieferantenübersicht.xlsx')

In [25]:
df_lieferanten

      Lfnr                    Beschreibung
0      NaN                             NaN
1      0.0                           BOSCH
2      1.0                           HELLA
3      2.0                   BOSCH-TELECOM
4      3.0          BASF KÜHLERFROSTSCHUTZ
..     ...                             ...
374  801.0              Lieferant Messe WA
375  803.0                 Schüller Geräte
376  804.0                   Centrofaktura
377  900.0  Dausel Aussendienstmitarbeiter
378  990.0                             NaN

[379 rows x 2 columns]

In [26]:
# import Lagerbestand as df
df_lager = pd.read_csv('data/Lagerbestand_02.Juni.2023.txt', sep=',')

/var/folders/t0/zqmt1nyn40dfdl2rmlwszfhm0000gn/T/ipykernel_60038/1153025717.py:2: DtypeWarning: Columns (0,2,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lager = pd.read_csv('data/Lagerbestand_02.Juni.2023.txt', sep=',')

In [27]:
df_lager.head()

,Lfnr,Artnr,Index,Beschr.,BKZ,VPE,St.gr.,Ltz. VK ges.,Basispreis,Basispr. Summe,Gesamt,WEN,Ltz. VK WEN,RGB,Ltz. VK RGB,AMB,Ltz. VK AMB,CHA,Ltz. VK CHA,STR,Ltz. VK STR,PAS,Ltz. VK PAS,LAN,Ltz. VK LAN,MÜH,Ltz. VK MÜH,ROS,Ltz. VK ROS
0,Summe,Summe,Summe,Summe,Summe,Summe,Summe,03.06.2023,"22.137.471,28","9.973.936,32",1.084.309,763.512,03.06.2023,61.066,02.06.2023,31.034,02.06.2023,24.471,02.06.2023,55.651,02.06.2023,39.311,02.06.2023,31.628,02.06.2023,37.164,02.06.2023,40.366,02.06.2023
1,430,08.607.83,000,"N CORSA D 1,0L 44KW BJ 2006",8,1,L20,07.11.2018,"75,36","0,00",0,0.000,-,0.000,07.11.2018,0.000,08.08.2017,0.000,29.04.2016,0.000,14.12.2017,0.000,-,0.000,31.08.2017,0.000,-,0.000,26.03.2014
2,430,08.607.81,000,"M CORSA D 1,4L 66KW BJ 2006",8,1,L20,04.08.2021,"93,63","0,00",0,0.000,04.08.2021,0.000,10.07.2017,0.000,26.04.2021,0.000,28.04.2021,0.000,13.09.2018,0.000,31.07.2019,0.000,24.06.2016,0.000,-,0.000,04.05.2015
3,430,08.607.85,000,"N CORSA D 1,4L 66KW BJ 2006",8,1,L20,14.07.2021,"76,95","0,00",0,0.000,14.07.2021,0.000,-,0.000,26.04.2021,0.000,-,0.000,29.09.2020,0.000,31.07.2019,0.000,07.11.2018,0.000,-,0.000,-
4,430,08.607.80,000,"M CORSA D 1,0L 44KW BJ 2006",8,1,L20,14.12.2017,"80,07","0,00",0,0.000,24.09.2013,0.000,-,0.000,15.05.2015,0.000,29.04.2016,0.000,14.12.2017,0.000,-,0.000,-,0.000,-,0.000,19.10.2015

In [30]:
schema = 'cgn_analytics_23_2' # UPDATE 'TABLE_SCHEMA' based on schema used in class 
engine = get_engine() # assign engine to be able to query against the database

In [8]:
# Import Lagerbestand data into SQL 
table_name = 'kueblbeck_lagerbestand' # specify table name

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_lager.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The kueblbeck_lagerbestand table was imported successfully.

In [29]:
# Import Lagerbestand data into SQL 
table_name = 'kueblbeck_verkäufe' # specify table name

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_verkäufe.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The kueblbeck_verkäufe table was imported successfully.

In [31]:
# Import Lagerbestand data into SQL 
table_name = 'kueblbeck_lieferanten' # specify table name

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_lieferanten.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The kueblbeck_lieferanten table was imported successfully.